body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-img {
    position: absolute;
    top : 0;
    left: 0;
    background: url('../images/programmer.svg');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 77vh;
    z-index: -1;
    animation: introLoad 2s forwards;
}

.topnav {
    overflow: hidden;
    }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 1.4rem;
    span {
      color: black;
    }
  }
  
  .topnav a:hover {
      background-color: #00c27b;
      color: black;
  }

  .topnav a.active {
    span {
      color: red;
    }
  }

h1 {
  font-size: 2.5rem;
  margin-top: 0.5em;
  line-height: 3rem;

  span {
    color: red;
  }
}

.subhead {
  font-size: 1.4rem;
}

section.hero {
  color: black;
  height: 65vh;
  animation: moveDown 1s ease-in-out forwards;

  .down-arrow {
      stroke : yellow;
      position: absolute;
      bottom: 1em;
      width: 1.5em;
      animation: moveArrow 1s alternate-reverse infinite;
      path {
        fill : yellow;
      }
  }
}

.more-info {

  img {
      width : 100%;
      object-fit : cover;
      height : 11em;
  }

  .title {
      font-weight : bold;
      font-size : 1.5rem;
  }
  .desc {
      line-height : 1.5rem;
  }
}

@keyframes moveArrow {
  from {
      transform: translateY(-30px);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
      transform: translateY(-100px);
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes introLoad {
  from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}